@font-face {
	font-family: "ugly byte free trial";
	src: url("uglybytefreetrial-k7ebz.ttf");
}

.container-fluid {
	background-color: rgb(17, 23, 34);
	height: 720px;
}

.hands:hover {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
		-4px -4px 6px 0 rgba(116, 125, 136, 0.5),
		inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.hands {
	background-color: rgb(224, 207, 79);

	border: none;
}

.output {
	border-radius: 10px;
	color: white;
	height: 200px;
	position: relative;
	z-index: 1;
}
.bg {
	position: absolute;
	z-index: -1;
	opacity: 0.2;
	max-width: 100%;
}
.btns {
	font-size: 80px;
	padding: 10px;
}
.ulList {
	text-align: center;
	height: 250px;
	background-color: rgb(17, 23, 34);
	overflow-y: auto;
	overflow-x: hidden;
}
.points {
	float: right;
	margin-right: 300px;
	margin-top: 100px;
}
